{% extends 'base.html' %}

{% block title %}
Create User
{% endblock %}

{% block content %}

<h1>Create new user</h1>
<div class="container">
    {% for msg in get_flashed_messages() %}
    <div>{{ msg }}</div>
  {% endfor %}
  
  <form id="add-pet" method="POST">
    {{ form.hidden_tag() }}
  
    {% for field in form
           if field.widget.input_type != 'hidden' %}
  
      <p>
        {{ field.label }}
        {{ field }}
  
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
  
    {% endfor %}
    <a href="/" class="btn btn-sm btn-primary">Front Page</a>
    <button class="btn btn-sm btn-success" type="submit">Submit</button>
  </form>
</div>
{% endblock %}