/**/**/.ds_store
/**/**/venv
/**/**/__pycache__
/**/**/node_modules
/**/**/package-lock.json
00.courses
15.jeopardy
16.hack.or.snooze
20.forex.converter
25.database-dj
29.capstone1
33.broken-app
38.assessment7