<!DOCTYPE html>
<html lang="en">
<head>
    <title>Springboard - Boggle</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<section id="boggle">
<table class="board">

    {% for row in board %}
    <tr>{% for cell in row %}
        <td>
            {{ cell }}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}

</table>

<p>
    High score: {{ highscore }} with {{ numplays}} plays
</p>

<p>
    Current score: <b class="score">0</b>
    <br>
    Time left: <b class="timer"></b>
</p>

<form method="POST" class="add-word">
    <input name="word" class="word">
    <button>Submit Word</button>
</form>

<p class="msg"></p>
<ul class="words"></ul>
</section>

<script src="http://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
<script src="/static/java.js"></script>
<script>
    let game = new BoggleGame("boggle", 60);
</script>

</body>
</html>