{% extends 'base.html' %}

{% block title %}
Edit Pet
{% endblock %}

{% block content %}

<h1>Pet Details</h1>
<div class="container">
    {% for msg in get_flashed_messages() %}
    <div>{{ msg }}</div>
  {% endfor %}
  
  {% if pet.photo_url %}
    <div class="col-sm-2 col-6">
        <img src="{{pet.photo_url}}" class="img-fluid">
    </div>
{% endif %}
    <div class="col-sm-10 col-12">
        <h1>{{pet.name}}</h1>
        <ul>
            <li>Species: {{pet.species}}</li>
            <li>Age: {{pet.age}}</li>    
        </ul>
</div>

  <form id="edit-pet" method="POST">
    {{ form.hidden_tag() }}
  
    {% for field in form
           if field.widget.input_type != 'hidden' %}
  
      <p>
        {{ field.label }}
        {{ field }}
  
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
  
    {% endfor %}
    <a href="/" class="btn btn-sm btn-primary">Front Page</a>
    <button class="btn btn-sm btn-success" type="submit">Submit</button>
  </form>
</div>

{% endblock %}