{% extends 'base.html' %}

{% block title %}
Create User
{% endblock %}

{% block content %}

<h1>Create new user</h1>
<form method="POST">
    <div>
        First Name<br>
        <input name="first_name" placeholder="Enter a first name">
    </div>
    <div>
        Last Name<br>
        <input name="last_name" placeholder="Enter a last name">
    </div>
    <div>
        Profile Image<br>
        <input name="image_url" placeholder="Enter an image url">
    </div>
    <button type="submit" class="btn">Add</button>
</form>

{% endblock %}