{% extends 'base.html' %}

{% block title %}
Edit User
{% endblock %}

{% block content %}

<form method="POST">
<div>
    <h1>Edit User Details</h1>
    <div>
        First Name<br>
        <input name="first_name" value="{{user.first_name}}">
    </div>
    <div>
        Last Name<br>
        <input name="last_name" value="{{user.last_name}}">
    </div>
    <div>
        Image Url<br>
        <input name="image_url" value="{{user.image_url}}">
    </div>
    <button type="submit" class="btn">Cancel</button>
    <button type="submit" class="btn">Save</button>
</div>
</form>

{% endblock %}