{% extends 'base.html' %}
 
{% block title %}
{{user.full_name}}
{% endblock %}

{% block content %}

<div>
{% if user.image_url %}
    <div>
        <img src="{{user.image_url}}" class="profile_img" width="50" height="50">
    </div>
{% endif %}
    <div>
        <h1>{{user.full_name}}</h1>
        <form>
            <button class="btn" formaction="/{{user.id}}/edit" formmethod="GET">Edit</button>
            <button class="btn" formaction="/{{user.id}}/delete" formmethod="POST">Delete</button>
        </form>
    </div>
</div>
{% endblock %}