{% extends 'base.html' %}

{% block title %}User Login{% endblock%}

{% block content %}
<h1>User Login</h1>
<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form.errors %}
    {{ field }}:
        {% for error in form.errors[field] %}
        {{ error }}
        {% endfor %}
    {% endfor %}

    {% for field in form if field.widget.input_type != 'hidden' %}

    {{ field.label }}
    {{ field }}

    {% endfor %}
    <button type="submit">Login</button>
</form>

{% endblock %}