body {
  background-color: darkgray;
}
.board {
  font-family: monospace;
  font-size: 20px;
}

.board td {
  text-align: center;
  width: 1em;
  height: 1em;
  color: yellowgreen;
  background-color: black;
}

.msg {
  padding: 1em;
}

.msg.ok {
  background-color: darkcyan;
  font-weight: bold;
}

.msg.err {
  background-color: rgb(141, 1, 1);
  font-weight: bold;
}