{% extends 'base.html' %}
 
{% block title %}
{{post.title}}
{% endblock %}

{% block content %}
<h1><{{post.title}}></h1>
<div>
    <p>{{post.content}}</p>
</div>
<div>
    <p>By {{post.user.full_name}}</p>
    <p>On {{post.time_stamp}}</p>
</div>

{% if post.tags %}
<p><b>Tags: </b>
{% for tag in post.tags %}
<a href="/tags/{{tag.id}}" class="btn btn-primary btn-sm">{{tag.tag_name}}</a>
{% endfor %}
</p>
{% endif %}

<form>
<button class="btn btn-primary btn-sm" formaction="/">Front Page</button>
<button class="btn btn-secondary btn-sm" formaction="/post/{{post.id}}/edit" formmethod="GET">Edit</button>
<button class="btn btn-danger btn-sm" formaction="/post/{{post.id}}/delete" formmethod="POST">Delete</button>
</form>
{% endblock %}