{% extends 'base.html' %}

{% block title %}
Create User
{% endblock %}

{% block content %}

<h1>Create new user</h1>
<form method="POST">
    <div class="mb-3">
        <label for="first_name" class="form-label">First Name</label>
        <input name="first_name" class="form-control" placeholder="Enter a first name">
    </div>
    <div class="mb-3">
        <label for="last_name" class="form-label"></label>Last Name</label>
        <input name="last_name" class="form-control" placeholder="Enter a last name">
    </div>
    <div class="mb-3">
        <label for="image_url" class="form-label"></label>Profile Image</label>
        <input name="image_url" class="form-control" placeholder="Enter an image url">
    </div>
    <button class="btn btn-primary" formaction="/" formmethod="GET">Front Page</button>
    <button type="submit" class="btn btn-success">Add</button>
</form>

{% endblock %}